body{
    background: url(./images/tree-736887_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;   
    height: 100%; 
    margin: 0;
    padding:0

}
#searchBar{
    position: relative;
    left: 30rem;
    top: 20rem;
    width: 30rem;
    height: 3rem;
    outline: none;
    border-radius: 50px;
    box-shadow: 2px 2px 5px #697FA5;
    border: none;
    text-align: center;
        
}
#searchBar:focus{
    transform: translate(2px, 2px);
    border:2px solid blueviolet;
}
#searchBar::placeholder{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Sarala', sans-serif;
    color: #697FA5;
}

.weather-information{
    position: relative;
    top: -15rem;
    left: 48rem;
    background-color:  rgba(19, 18, 18, 0.336);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); 
    width: 20rem;
    height: 23rem;
    color: #A58F69;
    text-align: center;
    display: none;
}
.new-york-weather-information{
    position: relative;
    top: 7.5rem;
    left: 12rem;
    background-color:  rgba(19, 18, 18, 0.144);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); 
    width: 20rem;
    height: 23rem;
    color:#A58F69;
    text-align: center;
    display: none;
}

button{
    width: 15rem;
    height: 3rem;
    background-color: blueviolet;
}
#location{
    display: inline-block;
    background-color: purple;
}

img{
    width: 5rem;
    height: 5rem;
}

.weather{
    font-size: 4rem;
    margin: 0;
}
.city{
    font-size: 2rem;
    font-family: 'Sarala', sans-serif;
    padding-top: 2px;
    margin: 0;
}
.country{
    font-size: 2rem;
    font-family: 'Sarala', sans-serif;

    margin: 0;
}
.description{
    font-size:1rem;
    font-family: 'Sarala', sans-serif;
    margin: 0;
}
.date{
    font-family: 'Sarala', sans-serif;

}

@media (max-width: 991px) and (min-width: 768px){ 
    body{
        padding-bottom: 40rem;
     }
    #searchBar{
        position: absolute;
        left: 9rem;
        top: 15rem;
        width: 30rem;
        
    }
    .weather-information{
        position: relative;
        left:28rem; 
        width: 40%;
    }
    .new-york-weather-information{
        position: relative;
        width: 40%;
        left: 3rem;        
    }
}
@media (max-width: 767.98px){
    body{
       padding-bottom: 50rem;
    }
    #searchBar{
        position: absolute;
        left: 0.5rem;
        top: 15rem;
        width: 30rem;
       
    }
    .weather-information{
        position: relative;
        left:1rem; 
        top: 6rem; 
        width: 90%;     
        
    }
    .new-york-weather-information{
        position: relative;
        left:1rem;
        width: 35%;
        top: 1rem;
        width: 90%;
    }
    
}
@media (max-width: 375px){
    body{
        margin: 0;
        
        background-size: cover;
        
    }
    #searchBar{
        position: absolute;
        left: 1.6rem;
        top: 20rem;
        width:20rem;
    }
    #searchBar::placeholder{
        font-size: 1rem;        
    }
    .weather-information{
        position: relative;
        left:1rem; 
        top: 6rem; 
        width: 90%;  
        margin-bottom: -30rem; 
    }
    .new-york-weather-information{
        position: relative;
        left:1rem;
        top: 5rem;
        width: 90%;
        margin-bottom: 4rem;
    }
}